{% extends 'base.html' %}

{% block head %}
<title>Predict</title>
{% endblock %}



{% block body %}
<br>
<h2>Predict</h2>
<hr>
<br>

<form action="/predict" , method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Unnamed:">Unnamed:0</label>
            <input class="form-control" type="number" , step="0.0001" name="Unnamed:0" id="Unnamed:0" placeholder="Enter Unnamed:0"
                aria-label="Enter Unnamed:0">
            <small id="Unnamed:0help" class="form-text text-muted">This Field is required.</small>
            <br>

            <label for="carat:">carat</label>
            <input class="form-control" type="number" , step="0.0001" name="carat" id="carat"
                placeholder="Enter carat" aria-label="Enter carat">
            <small id="carathelp" class="form-text text-muted">This Field is required.</small>
            <br>
            
            
            <label for="cut">cut</label>
            <select class="form-control" name="cut" id="cut" placeholder="Enter cut"
                aria-label="Enter cut">
                <option>Premium</option>
                <option>Good</option>
                <option>Very Good</option>
                <option>Fair</option>
                <option>Ideal</option>
            </select>
            <small id="cuthelp" class="form-text text-muted">This Field is required.</small>
            <br>
            
            
            <label for="color">color</label>
            <select class="form-control" name="color" id="color" placeholder="Enter color"
                aria-label="Enter color">
                <option>E</option>
                <option>I</option>
                <option>J</option>
                <option>F</option>
                <option>H</option>
                <option>D</option>
                <option>G</option>
            </select>
            <small id="colorhelp" class="form-text text-muted">This Field is required.</small>
            <br>
            

            
            
            <label for="clarity">clarity</label>
            <select class="form-control" name="clarity" id="clarity" placeholder="Enter clarity"
                aria-label="Enter clarity">
                <option>SI1</option>
                <option>SI2</option>
                <option>VVS1</option>
                <option>VVS2</option>
                <option>VS1</option>
                <option>VS2</option>
                <option>IF</option>
                <option>I1</option>
            </select>
            <small id="clarityhelp" class="form-text text-muted">This Field is required.</small>
            <br>
            
            <label for="depth">depth</label>
            <input class="form-control" type="number" , step="0.0001" name="depth" id="depth"
                placeholder="Enter depth" aria-label="Enter depth">
            <small id="depthhelp" class="form-text text-muted">This Field is required.</small>
            <br>

            <label for="table">table</label>
            <input class="form-control" type="number" , step="0.0001" name="table" id="table"
                placeholder="Enter table" aria-label="Enter table">
            <small id="tablehelp" class="form-text text-muted">This Field is required.</small>
            <br>

            <label for="x">x</label>
            <input class="form-control" type="number" , step="0.0001" name="x" id="x"
                placeholder="Enter x" aria-label="Enter x">
            <small id="xhelp" class="form-text text-muted">This Field is required.</small>
            <br>

            <label for="y">y</label>
            <input class="form-control" type="number" , step="0.0001" name="y" id="y" placeholder="Enter y"
                aria-label="Enter y">
            <small id="yhelp" class="form-text text-muted">This Field is required.</small>
            <br>

            <label for="z">z</label>
            <input class="form-control" type="number" , step="0.0001" name="z" id="z" placeholder="Enter z"
                aria-label="Enter z">
            <small id="zhelp" class="form-text text-muted">This Field is required.</small>
            <br>

 
            <input class="btn btn-success btn-lg btn-block" type="submit" value="Predict">
            <hr>
            <h5> price is :    {{ price_val }}</h5>
            <hr>
        </div>
</form>

{% endblock %}